@import url("https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
}
nav {
  z-index: 1000;
}
.menu-container {
  background-color: rgba(0, 0, 0, 0.842);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  height: 10px;
}
.menu-container .logo img {
  width: 150px;
}
.menu-container .menus {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  color: aliceblue;
}
.menu-container .menus li {
  font-size: 18px;
}
.menu-container .menus li:hover {
  cursor: pointer;
  color: darkorange;
  transition: 0.15s linear;
}
.title {
  font-size: 55px;
  font-weight: bold;
}
.banner-container {
  height: 92.5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("./assets/background.png"),
    linear-gradient(45deg, rgb(8, 8, 8), rgb(53, 53, 53));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}
.banner-container .banner-text p {
  font-size: 18px;
  margin: 15px 0;
}
.banner-container .banner-text button {
  padding: 10px 20px;
  background-color: red;
  color: #fff;
  font-weight: bold;
  border: 1px solid transparent;
}
.banner-container .banner-text button:hover {
  background-color: transparent;
  border: 1px solid red;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  color: red;
}
.banner-container .banner-img img {
  width: 500px;
}
